@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*
Some Comments
********************
*** Main Color   : #ff2c2ceb;
***	Second Color : #57606f;
********************
*/

/* Global Product Card */


.custom-container
{
padding:10px 20px;
}

/* ****************************        		OWL CAROUSEL         **************************** */

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot 
{
background:0 0;
color:inherit;
border:none;
padding:0!important;
font:inherit;
font-size:35px;
margin:0 30px;
outline:none;
}

/* ****************************        		OWL CAROUSEL         **************************** */





/* ****************************        Bootstrap     Slider        **************************** */

.slider .carousel-item
{
background-size:cover;
background-position:center;
position:relative;
}

.slider .carousel-item .carousel-info
{
position:absolute;
top:25%;
left:15%;
text-align:center;
border:5px dotted #fff;
padding:40px 30px;
}

.slider .carousel-item .carousel-info .carousel-title
{
color:#000;
font-weight:800;
text-transform:uppercase;
font-family:montserrat;
font-size:35px;
margin-bottom:15px;
}

.slider .carousel-item .carousel-info .carousel-description
{
font-size:30px;
color:#fff;
margin-bottom:15px;
}

.slider .carousel-item .carousel-info a
{
color:#fff;
background-color:rgba(244,67,54,1);
display:inline-block;
padding:10px 30px;
font-size:20px;
font-weight:600;
text-transform:uppercase;
transition:.4s;
}



.slider .carousel-control-next, .carousel-control-prev 
{
height: 10px;
top: 50%;
width:10px;
}

.carousel-control-next-icon,.carousel-control-prev-icon
{
background-image:none;
text-align:center;
color:rgba(255,255,255,1);
}

.carousel-control-next-icon i,.carousel-control-prev-icon i
{
font-size:30px;
color:#fff;
}


.carousel-control-next-icon,.carousel-control-prev-icon
{
opacity:0;
visibility:hidden;
transition:.4s;
}

.carousel-control-prev-icon
{
margin-left:50px;
}

.carousel-control-next-icon
{
margin-right:50px;
}

.slider:hover .carousel-control-next-icon,.slider:hover .carousel-control-prev-icon
{
opacity:1;
visibility:visible;
}


/* ****************************        Bootstrap     Slider        **************************** */






/* Start G L O B A L */

.scroll-top i
{
color:#fff;
}

.scroll-top
{
position:fixed;
bottom:20px;
right:20px;
z-index:150;
background-color: rgba(0,0,0,0.3);
color:#fff;
padding:10px 14px;
border-radius:50%;
display:none;
transition:background-color .5s;
}

.scroll-top:hover
{
background:#434751;
}


.img-thumbnail
{
border:none;
}

.list-unstyled li
{
display: inline-block;
}

.row
{
margin:0;
}


*
{
font-family:Open Sans;
text-decoration:none!important;
}

a
{
color:#000;
}

.custom-btn
{
border:1px solid #000;
padding:8px 25px;
text-transform:uppercase;
color:#000;
transition:.4s;
border-radius:50px;
display:block;
}

.custom-btn:hover
{
background-color:#000;
color:#fff;
}
 
.main-nav .description
{
font-size:15px;
position:absolute;
left:0;
color:#ccc;
bottom:-8px;
}

.main-nav .navbar-brand
{
position:relative;
margin-bottom:15px;
}


.main-nav .navbar-brand
{
margin-left:30px;
}


.main-nav .navbar-brand a
{
font-size:30px;
font-weight:700;
color:#8a8a8a;
transition:.4s;
text-transform:uppercase;
display:block;
}

.main-nav .navbar-brand a:hover
{
color:#000;
}


.search-overlay
{
position:fixed;
width:100%;
height:100%;
left:0;
top:0;
bottom:0;
right:0;
background-color:#fff;
z-index:10000;
display:none;
}

.search-overlay span
{
color:#000;
position: relative;
top:20px;
background-color:rgba(0,0,0,0.1);
padding:5px 13px;
font-weight:600;
display: flex;
width:30px;
height:30px;
align-items: center;
justify-content: center;
margin:0 auto;
border-radius:50%;
text-transform:uppercase;
font-family:montserrat;
font-size:18px;
cursor:pointer;
padding:25px;
transition:.4s;
}

.search-overlay span:hover
{
background-color:rgba(0,0,0,0.3);
}


.search-overlay h1
{
color:#ff2c2ceb
}

.search-overlay form
{
margin-top:240px;
}

.search-overlay form input
{
margin-top:20px;
background:none;
border:none;
outline:none;
border-bottom:2px solid #ccc;
font-size:25px;
color:#8e8e8e;
width:400px;
padding:5px;
}

.navbar
{
padding:0;
}


/* End G L O B A L */







/* ************************************* */

/* 
********
*** Start Home Page
*******

*/

/* Start Header */

.fixed
{
position:fixed;
width:100%;
background-color:#fff;
z-index:9999;
top:0;
transition:.4s;
}

.header
{
top:0;
z-index:9999;
background-color:#fff;
}

.header .header-info
{
background-color:#ff2c2ceb;
color:#fff;
}

.header .header-info
{
margin:auto;
}

.header .header-info .contact-item
{
padding:5px 15px;
}

.header .header-info .contact-item i
{
margin-right:5px;
}

.header .header-info .contact-item:first-child
{
border-right:1px solid #ff9595;
}

.header .header-setting
{
padding:0px 15px;
}

.header .header-setting .setting-item i
{
font-size:15px;
margin-right:5px;
cursor:pointer;
}

.header .header-setting .setting-item a
{
color:#fff;
font-size:13px;
font-weight:600;
transition:.4s;
box-shadow:none;
}

.header .header-setting .setting-item a:hover
{
color:#ccc;
}


.header .header-setting .setting-item
{
padding:5px 30px;
}


.header .header-setting .setting-item:first-child,.header .header-setting .setting-item:nth-child(2)
{
border-right:1px solid #ff9595;
}

/* End Header */


/* Start Upper Nav */

.upper-nav .left-div span
{
margin-right:10px;
}

.upper-nav .left-div i
{
margin-right:5px;
}

.upper-nav .center-div a
{
color:#fff;
margin:0 5px;
transition: .4s;
}

.upper-nav .center-div a:hover
{
color:#57606f;
}

.upper-nav .center-div a i
{
margin-right:5px;
}

.upper-nav .right-div i
{
cursor:pointer;
transition:.8s;
margin:0 10px;
}


.upper-nav .right-div span:first-child i:hover
{
color:#3b5998;
}

.upper-nav .right-div span:nth-child(2) i:hover
{
color:#C13584;
}

.upper-nav .right-div span:last-child i:hover
{
color:#d34836;
}

.upper-nav .right-div i:hover
{
transform: rotate(360deg);
}

/* End Upper Nav */

/* ********************************** */

/* Start Main Nav */

.main-nav
{
box-shadow:0px 4px 9px -8px rgb(177, 177, 177);
padding:10px;
transition:.4s;
}

.main-nav .navbar-nav
{
padding-top:5px;
}


.main-nav .navbar-nav .nav-item .nav-link:hover:after
{
content:"";
position:absolute;
bottom:-3px;
left:0;
width:100%;
height:3px;
background-color:#ff2c2ceb;
}

.main-nav .navbar-nav .nav-item .nav-link:after
{
content:"";
bottom:-3px;
position:absolute;
left:0;
width:0;
height:3px;
background-color:#ff2c2ceb;
transition:.4s;
}



.main-nav .navbar-nav .nav-item .nav-link.active:after
{
content:"";
position:absolute;
bottom:-3px;
left:0;
width:100%;
height:3px;
background-color:#ff2c2ceb;
}

/* 
.nav-link.active:after
{
content:"";
position:absolute;
background: #fff;
width:0px;
height:3px;
top:26px;
left:0px;
transition:.4s;
}
*/

.main-nav .navbar-nav .nav-item .nav-link
{
color:#000;
font-weight:600;
text-transform:capitalize;
font-size:16px;
transition:.4s;
margin:0 20px;
font-family:montserrat;
text-transform:uppercase;
position: relative;
padding:0;
display:inline-block;
margin-bottom:15px;
}


.main-nav .navbar-nav .nav-item .nav-link i
{
transition:.4s;
}


.icon
{
margin-top:13px;
position: relative;
}

.icon i
{
font-size:20px;
margin:0 10px;
cursor:pointer;
transition:.6s;
}


/* End Main Nav */



/* Start Heading */

.heading
{
margin:100px 0;
}

.heading .shop
{
margin-top:100px;
}

.heading .shop h1
{
margin-bottom:50px;
}

.heading .shop p
{
font-family:montserrat;
max-width:500px;
margin:auto;
margin-bottom:50px;
}

.heading .shop button
{
background: none;
outline: none;
border: 1px solid;
font-size: 22px;
text-transform: uppercase;
padding: 15px 39px;
transition:.4s;
}

.heading .shop button:hover
{
color:#fff;
background-color:#000;
}

/* End Heading */


/* Start Last Product */

.last-product
{
padding:50px 20px;
}

.last-product h1
{
margin-bottom:50px;
}

.last-product .card
{
border-radius:0;
}


/* End Last Product */



/* Start Summer Collection */

.collection
{
margin-top:50px;
}

.collection .summer-collection
{
background-color:rgba(0,0,0,0.6);
text-align:center;
padding:150px 0;
font-size:30px;
color:#fff;
text-transform:uppercase;
font-family:open sans;
font-weight:800;
letter-spacing:3px;
transition:.3s;
}

.collection .summer-collection span
{
transition:.3s;
}

.collection .summer-collection:hover span
{
border:10px solid rgba(255,255,255,0.6);
padding:40px 20px;
}


/* End Summer Collection */


/* 
********
*** End Home Page
*******
*/



/* ************************************************************************************************************************* */




/* 
********
*** Start Contact Page
*******
*/

/* Start Contact */


.contact-form form
{
background-color:#171d2e;
width:100%;
padding:50px 20px;
}

.contact-form form textarea
{
resize:none;
height:150px;
}

.contact-form form h1
{
text-transform: uppercase;
font-weight:700;
margin-bottom:40px;
color:#fff;
}

.contact-form form h1 span
{
font-weight:300;
color:#fff;
}

.contact-form form .custom-input
{
width:100%;
margin-bottom:50px;
padding:8px;
background:none;
outline:none;
border:none;
color:#ccc;
border-bottom:1px solid #ccc;
font-size:18px;
}

.contact-form form .form-btn
{
background:none;
outline:none;
border:none;
border:1px solid #ccc;
font-size:26px;
color:#ccc;
padding:10px 30px;
font-weight:600;
font-family:open sans;
text-transform:uppercase;

transition:.4s;
}

.contact-form form .form-btn:hover
{
background-color:#ccc;
color:#171d2e;
}


/* End Contact */



/* Start Last Product */

.last-product .product-item
{
box-shadow:0px 0px 10px -3px rgba(0,0,0,0.2);
margin:15px 10px;
}
.last-product .product-item .product-img
{
position: relative;
}

.last-product .product-item img
{
width:100%;
}

.last-product .product-item .product-info
{
padding:20px 0;
font-weight:500;
}

.last-product .product-item .product-info h6
{
font-weight:700;
text-transform:uppercase;
}

.last-product .product-item .product-info .product-price
{
color:#ff2c2ceb;
font-weight:600;
font-family:montserrat
}

.last-product .product-item .overlay
{
width:100%;
height:0;
position: absolute;
background-color:rgba(255, 44, 44,0.4);
transition:.5s;
}

.last-product .product-item:hover .overlay
{
height:100%;
}


.last-product .product-item:hover .add-to-cart
{
opacity:1;
visibility:visible;
}

.last-product .product-item .add-to-cart
{
transition:.5s;
opacity:0;
visibility:hidden;
background:none;
border:none;
font-weight:700;
text-transform:uppercase;
outline:none;
padding:10px 20px;
color:#fff;
border:1px solid #fff;
font-size:16px;
position: absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}

.last-product .product-item .add-to-cart:hover
{
background-color:#000;
border-color:#000;
}

/* End Last Product */


/* Start Best Sales */

.best-sales
{
padding:60px 0;
}

.best-sales h1
{
margin-bottom:50px;
}


.best-sales .product-item
{
box-shadow:0px 0px 10px -3px rgba(0,0,0,0.2);
margin:15px 10px;
}
.best-sales .product-item .product-img
{
position: relative;
}

.best-sales .product-item img
{
width:100%;
}

.best-sales .product-item .product-info
{
padding:20px 0;
font-weight:500;
}

.best-sales .product-item .product-info h6
{
font-weight:700;
text-transform:uppercase;
}

.best-sales .product-item .product-info .product-price
{
color:#ff2c2ceb;
font-weight:600;
font-family:montserrat
}

.best-sales .product-item .overlay
{
width:100%;
height:0;
position: absolute;
background-color:rgba(255, 44, 44,0.4);
transition:.5s;
}

.best-sales .product-item:hover .overlay
{
height:100%;
}


.best-sales .product-item:hover .add-to-cart
{
opacity:1;
visibility:visible;
}

.best-sales .product-item .add-to-cart
{
transition:.5s;
opacity:0;
visibility:hidden;
background:none;
border:none;
font-weight:700;
text-transform:uppercase;
outline:none;
padding:10px 20px;
color:#fff;
border:1px solid #fff;
font-size:16px;
top:50%;
left:50%;
transform: translate(-50%,-50%);
position:absolute;
}

.best-sales .product-item .add-to-cart:hover
{
background-color:#000;
border-color:#000;
}

.best-sales .product-item .product-img .overlay .icons
{
position:absolute;
right:10px;
top:10px;
}

.best-sales .product-item .product-img .overlay .icons .icon-item
{
background-color:#fff;
margin:10px 0;
border-radius:50px;
opacity:0;
visibility:hidden;
transition:.5s;
}

.best-sales .product-item .product-img .overlay .icons .icon-item i
{
padding:10px;
cursor:pointer;
}

.best-sales .product-item .product-img .overlay:hover .icons .icon-item
{
opacity:1;
visibility:visible;
}

/* End Best Sales */


/* Start Our Collection */

.our-collection
{
padding:60px 10px;
margin-bottom:50px;
}

.our-collection h1
{
margin-bottom:60px;
}

.our-collection .collection-item
{
margin-bottom:30px;
}

.our-collection .collection-item img
{
width:100%;
}



/* End Our Collection */



/* Start Brands */


.brands .brands-item
{
width:250px;
filter:grayscale(100%);

}

.brands .brands-item img
{
display:inline-block;
}


/* End Brands */


/* Start Footer */

.footer
{
background-color:#ff2c2ceb;
color:#fff;
padding:50px 0;
padding-bottom:20px;
}

.footer .shipping-info
{
margin-bottom:70px;
}

.footer .shipping-info .info-item
{
color:#000;
margin-bottom:20px;
margin:10px 5px;
background-color:#fff;
padding:20px 0;
border-radius:5px;
}

.footer .shipping-info .info-item .info-icon i
{
font-size:50px;
margin-bottom:10px;
}

.footer .shipping-info .info-item h3
{
font-size:22px;
text-transform:uppercase;
font-weight:900;
font-family:montserrat;
}

.footer .shipping-info .info-item p
{
max-width:400px;
margin:0 auto;
font-size:14px;
font-family:montserrat;
}


.footer .footer-content .contact-footer
{
margin-bottom:8px;
}

.footer .footer-content .contact-footer i
{
margin-right:5px;
}

.footer .footer-content h3
{
font-weight:900;
text-transform:uppercase;
text-shadow:0px 0px 3px;
margin-bottom:15px;
}

.footer .footer-content .content-item 
{
margin-bottom:50px;
}

.footer .footer-content .contact-item ul
{
list-style:none;
padding:0;
margin:0;
}


.footer .footer-content .contact-item ul li
{
margin-bottom:5px;
}

.footer .footer-content .contact-item ul li a
{
color:#fff;
font-size:18px;
display:inline-block;
}

.footer .divider
{
width:100%;
background-color:#ff9595;
height:1px;
margin:50px auto;
}

.footer .social-media
{
margin-bottom:50px;
}

.footer .social-media i
{
color:#000;
padding:16px;
transition:.4s;
}

.footer .social-media> div
{
margin:0 20px;
background-color:#fff;
display: inline-block;
border-radius:50%;
transition:.4s;
cursor: pointer;
}

.footer .social-media> div:hover i 
{
color:#fff;
}

.footer .social-media .facebook-icon
{
padding:0 2px;
}

.footer .social-media .facebook-icon:hover
{
background-color: #3b5998;
}

.footer .social-media .instagram-icon
{
transition:.5s;
}
.footer .social-media .instagram-icon:hover
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    transition:.5s;
}

.footer .social-media .twitter-icon:hover
{
background-color:#1DA1F2;
}

.footer .social-media .linkedin-icon:hover
{
background-color:#0095d6;
}

/* End Footer */


/* Drop Down */

.dropdown-menu
{
border-radius:0;
top:34px;
min-width:0;
left:0px;
text-align:left;
padding:0;
opacity:0;
visibility:hidden;
display:block;
transition:.4s;
}

.dropdown-menu .dropdown-item
{
margin-bottom: 10px;
font-family: Barlow;
font-size: 18px;
font-weight:400;
transition: .4s;
padding: 0;
text-transform: uppercase;
margin:14px 0;
margin-right:100px;
margin-left:20px;
width:auto;
}

.dropdown-menu .dropdown-item:hover
{
background:none;
color:#ff2c2ceb;
}

.nav-item.dropdown:hover .dropdown-menu
{
opacity:1;
visibility:visible;
}

/* Drop Down */



/* ************************************** Men Page ************************************** */ 

.filter-bar
{
padding:30px;
border-radius: 6px;
box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.6);
margin:20px 0;
}

.filter-bar .filter-title
{
margin-bottom:20px;
text-align:left;
}

.filter-bar .filter-input
{
margin:15px;
margin:10px auto;
text-align:center;
}


.filter-bar>span
{
font-size:22px;
color:#000;
font-weight:600;
display:inline-block;
}

.filter-bar li
{
list-style:none;
margin-bottom:20px;
text-align:left;
}

.filter-bar li input
{
margin-right:10px;
}

.filter-bar li span
{
font-size:15px;
font-weight:400;
margin-top: -5px;
position: relative;
top:-3px;
cursor:pointer;
}

.bread-crumb
{
text-align:center;
margin:20px auto;
padding:10px 0;
border:1px solid rgba(0,0,0,0.3);
border-radius:3px;
width:95%;
}

.filter-bar .divider
{
background-color: #ccc;
height:2px;
width:30%;
margin:0 auto;
margin-top:5px;
margin-bottom:20px;
}

.filter-bar>span
{
font-weight:700;
font-family:barlow;
}

.filter-bar .divider .divider-color
{
background-color: #ff2c2ceb;
height:2px;
width:30%;
margin-top:5px;
margin-bottom:30px;
}

.filter-bar .gray-divider
{
width:95%;
height:2px;
background-color:rgba(0,0,0,0.1);
margin:40px auto;
}


.content .product-item
{
box-shadow:0px 0px 10px -3px rgba(0,0,0,0.2);
margin:15px 10px;
}
.content .product-item .product-img
{
position: relative;
}

.content .product-item img
{
width:100%;
}

.content .product-item .product-info
{
padding:20px 0;
font-weight:500;
}

.content .product-item .product-info h6
{
font-weight:700;
text-transform:uppercase;
}

.content .product-item .product-info .product-price
{
color:#ff2c2ceb;
font-weight:600;
font-family:montserrat
}

.content .product-item .overlay
{
width:100%;
height:0;
position: absolute;
background-color:rgba(255, 44, 44,0.4);
transition:.5s;
}

.content .product-item:hover .overlay
{
height:100%;
}


.content .product-item:hover .add-to-cart
{
opacity:1;
visibility:visible;
}

.content .product-item .add-to-cart
{
transition:.5s;
opacity:0;
visibility:hidden;
background:none;
border:none;
font-weight:700;
text-transform:uppercase;
outline:none;
padding:10px 20px;
color:#fff;
border:1px solid #fff;
font-size:16px;
position: absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}

.content .product-item .add-to-cart:hover
{
background-color:#000;
border-color:#000;
}


.active-pagination
{
background-color:#2980b9;
pointer-events:none;
color:#fff;
}







/* ************************************** Men Page ************************************** */ 




/* ************************************** Forms Page ************************************** */ 


.horizontal-form
{
max-width:600px;
margin:auto;
margin-bottom:70px;
margin-top:30px;
text-align:center;
padding:50px 100px;
border:1px solid rgba(0,0,0,0.1);
}

.horizontal-form .form-title
{
color:#ff4646;
font-family:montserrat;
font-weight:600;
margin-bottom:30px;
}

.horizontal-form .form-btn
{
background-color:rgba(244,67,54,0.7);
color:#fff;
font-size:22px;
font-weight:600;
font-family:montserrat;
transition:.4s;
}

.horizontal-form .form-btn:hover
{
background-color:rgba(244,67,54,1);
}

.horizontal-form a
{
font-weight:bold;
color:#6d6d6d;
}

.form-wrap p
{
text-align:center;
margin-top:50px;
color:#000;
font-family:Open Sans,sans-serif;
font-size:40px;
}

.form-wrap .divider
{
margin:auto;
width:100px;
height:2px;
background-color:#ff4646;
}

.divider
{
margin:20px auto;
margin-bottom:40px;
width:100px;
height:2px;
background-color:#ff4646;	
}

.edit-profile
{
padding:50px;
text-align:center;
}

.edit-profile .edit-title
{
font-size:32px;
font-weight:600;
color:#8d8d8d;
font-family:montserrat;
}

.edit-profile form
{
width:500px;
margin:0 auto;
}

.edit-profile #togglepass
{
position:relative;
}

.edit-profile #togglepass button
{
position:absolute;
top:0;
right:0;
height:100%;
background:none;
outline:none;
border:none;
background:#ff2c2ceb;
color:#fff;
padding:0px 15px;
}

.my-order
{
text-align:center;
padding:70px 40px;
border:1px solid rgba(0,0,0,0.2);
width:800px;
margin:100px auto;
}

.my-order .no-order-items
{
font-size:30px;
font-weight:600;
font-family:montserrat;
}

.wish-list
{
text-align:center;
padding:70px 40px;
border:1px solid rgba(0,0,0,0.2);
width:800px;
margin:100px auto;
}

.wish-list .no-wish-items
{
font-size:30px;
font-weight:600;
font-family:montserrat;
}


/* ************************************** Forms Page ************************************** */








/* ************************************** Account Page ************************************** */

.account-wrapper
{
text-align:center;
padding:30px 80px;
}

.account-wrapper .account-title
{
font-size:32px;
color:#6d6d6d;
font-family:montserrat,sans-serif;
font-weight:600;
}

.account-wrapper .divider
{
margin:0 auto;
width:100px;
background-color:#ff3d3d;
height:2px;
}

.account-wrapper .account
{
	margin:70px 0;
}

.account-wrapper .account  a
{
text-align:center;
margin:0 auto;
transition:.5s;
}


.account-wrapper .account .account-item
{
border:1px solid rgba(0,0,0,0.3);
padding:20px 90px;
border-radius:6px;
}

.account-wrapper .account .account-item .account-icon
{
margin:auto;
background-color:#ff3d3d;
margin-bottom:20px;
width:50px;
height:50px;
text-align:center;
line-height:50px;
border-radius:50%;
}

.account-wrapper .account .account-item .account-icon i
{
font-size:20px;
color:#fff;
}

.account-wrapper .account .account-item span
{
text-transform:uppercase;
font-weight:600;
font-family:montserrat;
}

/* ************************************** Account Page ************************************** */

.cart-item
{
padding:20px 40px;
border:1px solid rgba(0,0,0,0.2);
text-align: center;
margin:50px 30px;
}

.cart-item .table td, .table th 
{
    border: 1px solid #dee2e6;
}

.cart-item .table img
{
max-width:40px;
}

.cart-item button
{
background-color:#ff2c2ceb;
color:#fff;;
padding:9px 15px;
font-family:Montserrat;
font-weight:700;
border:none;
border-radius:50%;
outline:none;
}